<head data-page="Home_Index">
	<title>微型通信2</title>
	<script src="~/dist/js/site.js" type="text/javascript" asp-append-version="true"></script>
	<link rel="stylesheet" href="~/dist/css/site.css" type="text/css" asp-append-version="true">

	<script>
		const urlPathBase="@MiniatureCommunication2.StaticData.Config.PathBase";
	</script>
</head>
<body>
	<header>微型通信2</header>
	<hr />
	<a href="@MiniatureCommunication2.StaticData.Config.PathBase/talk">开始交流</a>
</body>
